html {
    background-color: #ca619f;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  body {
    background-color: transparent;
  }
  
  .authorization-cssave {
    padding: 30% 0;
  }
  
  .authorization-cssave form {
    max-width: 800px;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .authorization-cssave form h3 {
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .authorization-cssave .field {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }
  
  .authorization-cssave .login {
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: #e9cc6f;
    border: none;
    color: white;
    display: block;
    margin: 20px auto 0;
  }
  
